@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h1,
h3,
h2 {
  font-family: "Lora", serif;
}

p.banner {
  letter-spacing: 0.3em;
}

.screen {
  min-height: calc(100vh - 168px);
}

.content h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 25px;
  margin: 25px 0 20px 0;
}

.content h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
}
